{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}
{% block content %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% else %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endif %}
    {% endfor %}
{% endif %}
<div class="container">
{% for leader in leader %}
  <div class="card mb-3">
      <div class="row g-0">
        <div class="col-4">
          {% if leader.image %}
            <img src="{{leader.image.url}}" class="img-fluid rounded-start" alt="{{leader.name}} Image">
          {% endif %}
        </div>
        <div class="col-8">
          <div class="card-body">
            <h5 class="card-title">{{leader.name}}</h5>
            {% if leader.nishan %}<p class="nishan">चुनाव चिह्न : <img src="{{leader.nishan.url}}" alt="{{leader.name}} Chunav Chihn"></p>{% endif %}
            {% if request.session.isVoted == "yes" %}
              <p class="vote">वोट प्राप्त : {{leader.vote}}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}