{% extends 'base.html' %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/time_up.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <main>
            <p>Vartual vote end</p>
            </p>यह पोल एक अनुमान मात्र था जिसके अनुसार विंदु देवी को ज्यादा वोट मिले</p>
            <br><br>

            <pre>
            <b>विन्दु देवी         1430 वोट</b>
            रमिता देवी        1234 वोट
            नूरशब्बा परवीन     1212 वोट
            कलावती देवी       140 वोट
            सरिता कुमारी       96 वोट
            NOTA             40 वोट
            <pre>
                
        </main>
    </div>
{% endblock %}